# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# OS
*.DS_Store


**/node_modules
# Hardhat files
**/cache
**/artifacts

# contract deployments
**/deployments/localhost